<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TestURL" value="http://www.msftconnecttest.com/connecttest.txt" />
    <!--<add key="ImageURL" value="https://images-na.ssl-images-amazon.com/images/P/" />
    <add key="ImageURL" value="https://images-na.ssl-images-amazon.com/images/P/" />
    <add key="ImageURL" value="https://images-na.ssl-images-amazon.com/images/P/" />
    <add key="ImageURL" value="https://images-na.ssl-images-amazon.com/images/P/" />-->
    <add key="OperaDriver" value="http://npm.taobao.org/mirrors/operadriver/" />
    <add key="ChromeDriver" value="http://npm.taobao.org/mirrors/chromedriver" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>